/* .amplify-button.amplify-button--primary {
  background-color: red !important;
}

.amplify-button.amplify-button--link {
  color: orange !important;
  background-color: red !important;
}

.amplify-tabs__item--active {
  color: orange !important;
  border-color: orange !important;
  background-color: red !important;
}

.amplify-tabs__item {
  color: orange !important;
  background-color: red !important;
}

.amplify-field__show-password {
  color: orange !important;
  background-color: red !important;
}

.amplify-input {
  border-color: red !important;
  color: orange !important;
  background-color: red !important;
}

.amplify-label {
  color: orange !important;
  background-color: red !important;
}

.amplify-authenticator__column {
  background-color: red !important;
}

.amplify-input {
  background-color: red !important;
}

[data-amplify-form] {
  background-color: red !important;
}

[data-amplify-authenticator] {
  background-color: pink !important;
}

#signIn-panel {
  background-color: red !important;
}

[data-amplify-footer] {
  background-color: red !important;
}

.amplify-tabs__panel {
  background-color: red !important;
} */
